<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug harness only. Release requests must enter through a real Nabu control surface. -->
        <receiver
            android:name=".uiagent.ActionReceiver"
            android:permission="android.permission.DUMP"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mewmix.nabu.ACTION_EXECUTE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
